$bgColorWhite: rgba(255, 255, 255, 1);
$sideGradientColorFrom: rgba(248, 248, 248, 0);
$sideGradientColorTo: rgba(248, 248, 248, 1);

.brands-swiper {

  width: 100%;
  min-height: 95px;
  padding-bottom: 16px;

  @media (min-width: 768px) and (max-width: 1365px) {
    max-height: 160px;
  }

  @media (min-width: 1366px) {
    width: 100%;
    max-height: 160px;
    padding-bottom: 16px;
  }

  &::after {
    @media (max-width: 767px) {
      content: '';
      width: 15px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(to right, $sideGradientColorFrom, $sideGradientColorTo 80%);
      z-index: 3;
    }
  }

  &::before {
    @media (max-width: 767px) {
      content: '';
      width: 15px;
      height: 100%;
      position: absolute;
      left: 0;
      background: linear-gradient(to left, $sideGradientColorFrom, $sideGradientColorTo 80%);
      z-index: 3;
    }
  }

  // .brands-swiper__wrapper

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;

    @media (min-width: 768px) and (max-width: 1365px) {
      overflow: hidden;
      padding-bottom: 24px;
      display: flex;
      column-gap: 24px;
      row-gap: 16px;
      flex-wrap: wrap;
    }

    @media (min-width: 1366px) {
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding-bottom: 24px;
      display: flex;
      column-gap: 24px;
      row-gap: 16px;
      flex-wrap: wrap;
    }

    position: relative;

    // &::after {
    //   content: '';
    //   width: 25px;
    //   height: 72px;
    //   position: absolute;
    //   right: 0;
    //   background: linear-gradient(to right, rgba(248, 248, 248, 0), rgb(230, 15, 15));
    // }
  }

  // .brands-swiper__item

  &__item {
    max-width: 240px;
    max-height: 72px;

    @media (min-width: 768px) and (max-width: 1365px) {
      width: 224px;
    }

    @media (min-width: 1366px) {
      width: 240px;
      max-height: 72px;
    }

    &:hover {
      transform: scale(1.05);
      transition: all 0.2s;
    }
  }

  // .brands-swiper__link

  &__link {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $bgColorWhite;
    border-radius: 6px;
    background: $bgColorWhite;
  }

  // .brands-swiper__logo

  &__logo {
  }

  .expand {
    max-height: 100%;
  }

}