.contact-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;

  @media (min-width: 768px) and (max-width: 1365px) {
    display: flex;
    min-width: 40%;
    align-items: center;
    column-gap: 16px;
  }

}