.hide-button {

  padding-top: 0;
  font-weight: 500;
  display: none;
  justify-content: space-between;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;

  @media (min-width: 768px) and (max-width: 1365px) {
    display: flex;
  }

  @media (min-width: 1366px) {
    display: flex;
  }

  &::before {
    content: url("../../source/icons/expand-top.svg");
  }

  // .hide-button__text

  &__text {
    display: block;
    padding-left: 8px;
  }
}