.main-header {

  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: 768px) and (max-width: 1365px) {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &::before {
    content: url("/src/img/ic/highlight--md.svg");
    align-self: center;
  }

  // .main-header__title

  &__title {
    width: 288px;
    height: 40px;
    padding-left: 16px;
    font-family: TT Lakes;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;

    @media (min-width: 768px) and (max-width: 1365px) {
      padding-left: 24px;
    }

    @media (min-width: 1366px) {
      padding-left: 30px;
    }
  }

  // .main-header__title--modal

  &__title--modal {
    padding-left: 12px;
  }

  &__left-side--lg {
    @media (min-width: 768px) and (max-width: 1365px) {
      display: none;
    }
  }

  // .main-header__right-side--lg

  &__right-side--lg {
    display: none;
    
    @media (min-width: 1366px) {
      display: flex;
      justify-content: flex-end;
      min-width: 35%;
      padding-right: 34px;
    }
  }

  &--modal {
    padding-top: 32px;
    padding-bottom: 24px;
    align-items: center;
  }

}
