.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  display: none;
  flex-direction: column;

  &--call {
  }

  &--feedback {
    display: none;
  }

  &--show {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;

    @media (min-width: 1366px) {
      width: 100%;
      position: static;
      top: 0;
      display: flex;
    }
    &--sm {
    }
  
}
}