.round-button {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    transform: scale(1.1);
    transition: all 0.2s;
  }

  &--burger {
    background-image: url("../img/burger.png");
  }

  &--repair {
    background-image: url("../img/repair.png");
  }

  &--checkstatus {
    background-image: url("../img/checkstatus.png");
  }

  &--call {
    background-image: url("../img/call.png");
    @media (min-width: 768px) and (max-width: 1365px) {
      background-image: url("../img/call.png");
    }
  }

  &--chat {
    background-image: url("../img/chat.png");
    @media (min-width: 768px) and (max-width: 1365px) {
      background-image: url("../img/chat.png");
    }
  }

  &--profile {
    background-image: url("../img/profile.png");
    @media (min-width: 768px) and (max-width: 1365px) {
      background-image: url("../img/profile.png");
    }
  }

  &--cross {
    background-image: url("../img/cross.svg");
  }

  &--search {
    background-image: url("../img/search.svg");
  }

  &--cross--sm {
    @media (min-width: 1366px) {
      display: none;
    }
  }

  &--cross--modal {
    @media (min-width: 768px) {
      position: absolute;
      top: 32px;
      left: -72px;
      z-index: 9;
    }
  }

  &--call--sm {
  }

  &--chat--sm {
  }

  &--cross--modal-call {
  }

  &--cross--modal-feedback {
  }

  &--burger--s {
  }

  &--burger--md {
  }

  &--call--header {
  }

  &--chat--header {
  }

}




