.round-icon {

  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;

  &--go {
    background-image: url("./img/ic/round-go.svg");
  }

  &--techs {
    align-self: flex-end;
  }
}