.sm-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  flex-direction: column;

  @media (min-width: 1366px) {
      width: 320px;
      height: 100%;
      position: static;
      display: flex;
      flex-direction: column;
  }
}