
.content-list-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(217, 255, 245, 1);
    
}

.content-list-section__header {
    width: 100%;
    padding: 16px;
}

.content-list-section__title {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(126, 126, 130, 1);
    font-weight: 300;
}

.content-list-section__main {
    max-width: 1120px;
    min-width: 0;
    padding-top: 16px;
    padding-bottom: 38px;
    background-color: #F8F8F8;
}

.round-button--go {
    background-image: url("../../source/icons/round-go.svg");
}

.round-button--go:hover {
    transform: none;
}

.brands-swiper {
    width: 100%;
    min-height: 95px;
    padding-bottom: 16px;
}

.brands-swiper__wrapper {
    width: 100%;
    height: 100%;
}

.brands-swiper__item {
    max-width: 240px;
    max-height: 72px;
}

.brands-swiper__link {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
}

.read-button--content-list {
    display: none;
}

.hide-button {
    padding-top: 0;
    font-weight: 500;
    display: none;
    justify-content: space-between;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}

.hide-button::before {
    content: url("../../source/icons/expand-top.svg");
}

.hide-button__text {
    display: block;
    padding-left: 8px;
}



@media (min-width: 768px) and (max-width: 899px) {

    .content-list-section__main {
        padding: 24px;
    }

    .brands-swiper {
        height: 160px;
    }

    .brands-swiper__wrapper {
        overflow: hidden;
        padding-bottom: 24px;
        display: flex;
        column-gap: 24px;
        row-gap: 16px;
        flex-wrap: wrap;
    }

    .brands-swiper__item {
        width: 224px;
    }

    .swiper-pagination {
        display: none;
    }

    .read-button {
        display: flex;
    }

    .hide-button {
        display: flex;
    }
}



@media (min-width: 900px) {

    .content-list-section {
        justify-content: center;
    }

    .content-list-section__main {
        padding-top: 24px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .brands-swiper {
        width: 100%;
        height: 160px;
        padding-bottom: 16px;
    }

    .brands-swiper__wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-bottom: 24px;
        display: flex;
        column-gap: 24px;
        row-gap: 16px;
        flex-wrap: wrap;
    }

    .brands-swiper__item {
        width: 240px;
        max-height: 72px;
    }

    .swiper-pagination {
        display: none;
    }

    .read-button {
        display: flex;
    }

    .hide-button {
        display: flex;
    }
}


.hidden {
    display: none;
}

.expand {
    height: 100%;
}
