.icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper {
}

.header {
    background: #FFFFFF;
    width: 100%;
}

.header-top_md,
.main-header__right-side_lg {
    display: none;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    gap: 0px;
    opacity: 0px;
}

.header-top__left-side {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.burger-icon {
    background-image: url("../../source/icons/burger.png");
    align-self: center;
}

.header-top__logo {
    width: 96.55px;
height: 50.81px;
top: 18.59px;
left: 72.73px;
gap: 0px;
border: 0.5px 0px 0px 0px;
opacity: 0px;

}

.header-top__divider {
    width: 1%;
    height: 32px;
    border-radius: 1px 0px 0px 0px;
    background: #EAEAEA;
}

.header-top__right-side {
    display: flex;
    width: 39%;
    justify-content: space-evenly;
}

.repair-icon {
    background-image: url("../../source/icons/repair.png");
}

.checkstatus-icon {
    background-image: url("../../source/icons/checkstatus.png");
}

.main {
    background: #F8F8F8;
    width: 100%;
}

.main-top {
    padding-bottom: 24px;
}

.main-header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.main-header__highlight {
    background: #41F6D7;
    width: 4px;
    height: 40px;
}

.main-header__title {
    width: 288px;
    height: 40px;
    padding-left: 16px;
    font-family: TT Lakes;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;

}

.slide-menu {
    padding-left: 16px;
}

.slide-menu__list {
    display: flex;
    overflow: scroll;
}

.slide-menu__item {
    border: 2px solid transparent;
}

.slide-menu__item:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.slide-menu__link {
    display: block;
    padding: 8px 17px;
    color: #7E7E82;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    white-space: nowrap;
}

.main-section {
    padding-left: 16px;
    padding-right: 16px;
}

.main-section__text-container {
    
}

.main-section__text {
    max-height: 90px;
    overflow: hidden;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.read-button {
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}

.read-button__expand-icon {
    background-image: url("../../source/icons/expand.png");
    width: 24px;
    height: 24px;
}

.read-button__text {
    display: block;
    padding-left: 8px;
}

.main-section__image {
    /* max-height: ; */
    width: 100%;
}


@media (min-width: 640px) and (max-width: 800px) {

    .header-top,
    .main-header__left-side_lg {
        display: none;
    }

    .header-top_md {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 88px;
        gap: 0px;
        opacity: 0px;
        
    }
    
    .header-top__left-side_md {
        display: flex;
        width: 30%;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .header-top__right-side_md {
        display: flex;
        width: 40%;
        justify-content: space-evenly;
        align-items: center;
    }

    .call-button-filler {
        width: 100%;
        height: 100%;
        background-image: url("../../source/icons/call.png");
    }

    .chat-button-filler {
        width: 100%;
        height: 100%;
        background-image: url("../../source/icons/chat.png");
    }

    .profile-icon {
        background-image: url("../../source/icons/profile.png");
    }
    
    .main-top {
        padding-bottom: 32px;
    }
    
    .main-header {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .main-header__title {
        padding-left: 24px;
    }

    .slide-menu {
        padding-left: 24px;
    }
    
    .main-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-left: 24px;
        padding-right: 25px;
        padding-bottom: 40px;
    }
    
    .main-section__text-container {
        padding: 0;
        width: 50%;
    }

    .main-section__text {
        padding-right: 41px;
        max-height: 160px;
        line-height: 20px;
    }
    
    .main-section__image {
        max-height: 208px;
        max-width: 50%;
        flex-shrink: 0;
        border-radius: 6px;
    }

}


@media (min-width: 801px) {
    .header-top,
    .header-top_md {
        display: none;
    }
    
    .main-top {
    }

    .main-header-container {
        padding-top: 42px;
        padding-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-header {
        
    }
    .main-header__highlight {
    }
    .main-header__title {
        padding-left: 30px;
    }

    .main-header__right-side_lg {
        display: flex;
        justify-content: flex-end;
        min-width: 35%;
        padding-right: 34px;
    }

    .service-request-link-container {
        display: flex;
    }

    .service-request__link {
        display: flex;
        align-items: center;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: right;
    }

    .service-request__text {
        padding-right: 8px;
    }

    .service-status-link-container {
        display: flex;
        padding-left: 10px;
    }

    .service-status__text {
        padding-right: 8px;
    }

    .service-status__link {
        display: flex;
        align-items: center;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: right;
    }

    .slide-menu {
        padding-left: 30px;
    }
    .slide-menu__list {
        flex-wrap: wrap;
        overflow: inherit;
    }
    .slide-menu__item {
    }
    .slide-menu__link {
        padding: 8px 17px;
    }


    .main-section {
        padding-left: 34px;
        display: flex;
        justify-content: space-between;
    }

    .main-section__text-container {
        width: 48%;
        padding-right: 36px;
    }
    .main-section__text {
        font-family: TT Lakes;
        line-height: 20px;
        max-height: 160px;

    }
    .read-button {
    }
    .read-button__expand-icon {
    }
    .icon {
    }
    .read-button__text {
    }
    .main-section__image {
        width: 52%;
        border-radius: 6px;
    }
    .image {
    }

}

























